<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<Product Id="*" Language="1033" Manufacturer="$(var.GameName) Team" Name="$(var.SetupName)" UpgradeCode="{30472268-96D1-418A-BE66-9644602F19B5}" Version="$(var.Version)">
		
		<!-- Package Info -->
		
		<Package Compressed="yes" InstallerVersion="200" InstallScope="perMachine" />
		
		<Feature Id="ProductFeature" Level="1" Title="$(var.SetupName)" ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="RemoveStranded" />	    
			<ComponentRef Id="RemoveDeprecatedFromGameDir" />	
			<ComponentRef Id="RemoveDeprecatedFromModDir" />	    
			<ComponentRef Id="RemoveDeprecatedFromModSystemDir" />	    
			<ComponentRef Id="ApplicationShortcut" />   
		</Feature>     

		<Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="none"/>

		
		<!-- ARP Properties -->
		
		<Property Id="ARPCOMMENTS">$(var.GameName) is a modification for Unreal Tournament 2004</Property>
		<Property Id="ARPCONTACT">$(var.ModSupportURL)</Property>
		<Property Id="ARPHELPLINK">$(var.ModSupportURL)</Property>
		<Property Id="ARPURLINFOABOUT">$(var.ModHomeURL)</Property>
		<Property Id="ARPURLUPDATEINFO">$(var.ModHomeURL)</Property>
		<Property Id="ARPPRODUCTICON">MainIcon.ico</Property>
        <Property Id="ARPNOMODIFY" Value="1" />
        
        <!--
        <Property Id="ARPNOREPAIR" Value="0" />
        <Property Id="ARPNOREMOVE" Value="0" />
        <Property Id="ARPSYSTEMCOMPONENT" Value="0" />
        <Property Id="ARPREADME" Value="Your README link" />
        <Property Id="ARPHELPTELEPHONE" Value="URL where users can find your support phone number" />
        <Property Id="ARPAUTHORIZEDCDFPREFIX" Value="URL of the update channel for the application" />
        <Property Id="ARPSIZE" Value="3" />
        -->
        
		<!-- TODO: make sure its not autogenerated -->
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" Execute="firstSequence"/>
        
		
		<!-- Installation path -->
		
        <Property Id="MB_PATH_STEAM">
            <RegistrySearch Id="GetPathSteam" Root="HKCU" Key="SOFTWARE\Unreal Technology\Installed Apps\UT2004" Name="Folder" Type="directory" />
        </Property>
        
        <Property Id="MB_PATH_CLASSIC">
            <RegistrySearch Id="GetPathClassic" Root="HKLM" Key="SOFTWARE\Unreal Technology\Installed Apps\UT2004" Name="Folder" Type="directory" />
        </Property>
        
        <Property Id="MB_PATH_UPDATER">
            <RegistrySearch Id="GetPathUpdater" Root="HKCU" Key="SOFTWARE\Unreal Technology\Installed Apps\UT2004_ModUpdater" Name="Folder" Type="directory" />
        </Property>
		
        <Property Id="MB_PATH_STEAM_VALID">
			<DirectorySearch Id="SteamSystemExists" Path="[MB_PATH_STEAM]\System\" Depth="0">
				<FileSearch Id="SteamIsValid" Name="UT2004.exe" />
			</DirectorySearch>
        </Property>
		
        <Property Id="MB_PATH_CLASSIC_VALID">
			<DirectorySearch Id="ClassicSystemExists" Path="[MB_PATH_CLASSIC]\System\" Depth="0">
				<FileSearch Id="ClassicIsValid" Name="UT2004.exe" />
			</DirectorySearch>
        </Property>
		
        <Property Id="MB_PATH_UPDATER_VALID">
			<DirectorySearch Id="UpdaterSystemExists" Path="[MB_PATH_UPDATER]\System\" Depth="0">
				<FileSearch Id="UpdaterIsValid" Name="UT2004.exe" />
			</DirectorySearch>
        </Property>

		<CustomAction Id="MB_UseSteamPath" Property="INSTALLDIR" Value="[MB_PATH_STEAM]" Execute="firstSequence"/>
		<CustomAction Id="MB_UseClassicPath" Property="INSTALLDIR" Value="[MB_PATH_CLASSIC]" Execute="firstSequence"/>	
		<CustomAction Id="MB_UseUpdaterPath" Property="INSTALLDIR" Value="[MB_PATH_UPDATER]" Execute="firstSequence"/>		

              
		<!-- UT2004 directory verification -->
		
        <Binary Id="MSI_VerifyUT2K4Dir.dll" SourceFile="..\MSI_VerifyUT2K4Dir.dll" />
        
        <CustomAction Id="MB_VerifyUT2K4Dir" BinaryKey="MSI_VerifyUT2K4Dir.dll" DllEntry="VerifyUT2K4Dir" />	
        <CustomAction Id="MB_VerifyUT2K4Version" BinaryKey="MSI_VerifyUT2K4Dir.dll" DllEntry="VerifyUT2K4Version" />	
		             
        <Property Id="MB_UT2K4DIR_VALID" Value="0" />
        <Property Id="MB_UT2K4VERSION" Value="0" />
        <Property Id="MB_UT2K4VERSION_REQ" Value="3369" />
       
           
		<!-- UI -->
		
		<Icon Id="MainIcon.ico" SourceFile="..\..\Help\$(var.GameName).ico" />
        
		<UIRef Id="MB_InstallUI" />

		
		<!-- Upgrade -->
		<!--
		
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSVERSIONFOUND" IncludeMinimum="yes" Minimum="1.0.0" IncludeMaximum="yes" Maximum="1.0.0" /> 
		-->
        
        <Upgrade Id="{30472268-96D1-418A-BE66-9644602F19B5}">
            <UpgradeVersion Minimum="1.0.0.0" Maximum="$(var.Version)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" />
            <UpgradeVersion Minimum="$(var.Version)" Maximum="$(var.Version)" Property="CURRENTVERSIONINSTALLED" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="yes" />
            <UpgradeVersion Minimum="$(var.Version)" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" />
        </Upgrade>
        
        <CustomAction Id="MB_NewerVersionFound" Error="!(loc.MB_NewerVersionFound)" />


		<!-- PatchINI -->
		
        <Binary Id="MSI_PatchINI.dll" SourceFile="..\MSI_PatchINI.dll" />
        <CustomAction Id="MB_PatchINI" BinaryKey="MSI_PatchINI.dll" DllEntry="PatchINI_2K4Mod" />
		
		
		<!-- Sequences -->
		
		<InstallUISequence>
            
            <Custom Action="MB_NewerVersionFound" After="FindRelatedProducts">
                NEWERPRODUCTFOUND
                AND NOT Installed
            </Custom>
            
            <Custom Action="MB_UseUpdaterPath" After="AppSearch">
                MB_PATH_UPDATER_VALID 
                AND NOT Installed
            </Custom>
            
            <Custom Action="MB_UseSteamPath" After="AppSearch">
                MB_PATH_STEAM_VALID 
                AND NOT MB_PATH_UPDATER_VALID 
                AND NOT Installed
            </Custom>
		    
            <Custom Action="MB_UseClassicPath" After="AppSearch">
                MB_PATH_CLASSIC_VALID 
                AND NOT MB_PATH_UPDATER_VALID 
                AND NOT MB_PATH_STEAM_VALID 
                AND NOT Installed
            </Custom>
            
		</InstallUISequence>
		
        <InstallExecuteSequence>
            
            <RemoveExistingProducts After="InstallInitialize">
            </RemoveExistingProducts>
            
            <Custom Action="MB_NewerVersionFound" After="FindRelatedProducts">
                NEWERPRODUCTFOUND AND NOT Installed
            </Custom>
            
            <Custom Action="MB_UseUpdaterPath" After="AppSearch">
                MB_PATH_UPDATER_VALID 
                AND NOT Installed
            </Custom>
            
            <Custom Action="MB_UseSteamPath" After="AppSearch">
                MB_PATH_STEAM_VALID 
                AND NOT MB_PATH_UPDATER_VALID 
                AND NOT Installed
            </Custom>
		    
            <Custom Action="MB_UseClassicPath" After="AppSearch">
                MB_PATH_CLASSIC_VALID 
                AND NOT MB_PATH_UPDATER_VALID 
                AND NOT MB_PATH_STEAM_VALID 
                AND NOT Installed
            </Custom>
            
            <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate">
                NOT Installed
            </Custom>
            
            <Custom Action="MB_PatchINI" After="InstallFinalize">
                NOT Installed
            </Custom>
            
        </InstallExecuteSequence>
        
		
        
	</Product>
	
	
	<!-- TARGETDIR -->
	  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
		</Directory>
	</Fragment>
	
	
	<!-- INSTALLDIR -->
	
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
    		<Directory Id="INSTALLDIR" Name="UT2004">
    			<Directory Id="$(var.GameName)" Name="$(var.GameName)" />
				<Directory Id="UT2004_SYSTEM" Name="System" />
    		</Directory>
		</DirectoryRef>
	</Fragment>
	
	
	<!-- Program files shortcuts -->
		
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{21DB3236-9D03-4103-988F-1820D58ECA44}">
				<Shortcut Id="ModPlayShortcut" Name="$(var.GameName)" Description="Play $(var.GameName)" WorkingDirectory="Gunreal" Target="[INSTALLDIR]\$(var.GameName)\Updater.exe" />
				<Shortcut Id="ModPlayNoUpdaterShortcut" Name="$(var.GameName) (Without Updater)" Description="Play $(var.GameName) (Without Updater)" WorkingDirectory="UT2004_SYSTEM" Target="[INSTALLDIR]\System\UT2004.exe" Arguments="-Mod=$(var.GameName)" />
				<Shortcut Id="ModEditShortcut" Name="$(var.GameName) Editor" Description="$(var.GameName) Editor" WorkingDirectory="UT2004_SYSTEM" Target="[INSTALLDIR]\System\UnrealEd.exe" Arguments="-Mod=$(var.GameName)" />
				<Shortcut Id="ModUninstallShortcut" Name="$(var.GameName) Uninstaller" Description="$(var.GameName) Uninstaller" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
				<CopyFile Id="CopyModNameForum.url" FileId="$(var.GameName)_Forum.url" DestinationDirectory="ApplicationProgramsFolder"/>
				<CopyFile Id="CopyModNameWebsite.url" FileId="$(var.GameName)_Website.url" DestinationDirectory="ApplicationProgramsFolder"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RemoveFile Id="RemoveModNameWebsite.lnk" On="install" Name="$(var.GameName)Website.lnk"/>
				<RemoveFile Id="RemoveModNameReadme.lnk" On="install" Name="$(var.GameName) Readme.lnk"/>
				<RegistryValue Root="HKCU" Key="Software\$(var.GameName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>
	
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.GameName)"/>
			</Directory>
		</DirectoryRef>
	</Fragment>
	
	
	<!-- Stranded files removal -->
	
	<Fragment>
		<DirectoryRef Id="System">
			<Component Id="RemoveStranded" KeyPath="yes" Guid="{93B258C9-7EA5-4150-913F-A5D11C7DC1FC}">
				<RemoveFile Id="$(var.GameName).Log" On="uninstall" Name="$(var.GameName).Log" />
				<RemoveFile Id="$(var.GameName).old.Log" On="uninstall" Name="$(var.GameName).old.Log" />
			</Component>
		</DirectoryRef>
	</Fragment>
	
	<!-- Deprecated files removal -->
	
	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Component Id="RemoveDeprecatedFromGameDir" KeyPath="yes" Guid="{08C6D71A-E24F-4011-85AD-F13E9EC374C7}">
				<RemoveFile Id="Uninstall$(var.GameName).exe" On="install" Name="Uninstall$(var.GameName).exe" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="$(var.GameName)">
			<Component Id="RemoveDeprecatedFromModDir" KeyPath="yes" Guid="{3B9E3C1C-0A67-4183-89C4-DE00E4A482B2}">
				<RemoveFile Id="$(var.GameName)MD5.md5" On="install" Name="$(var.GameName)MD5.md5" />
				<RemoveFile Id="Desktop.ini" On="install" Name="Desktop.ini" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="System">
			<Component Id="RemoveDeprecatedFromModSystemDir" KeyPath="yes" Guid="{C45364C5-CB8F-46F0-B3AA-6C5910A1C330}">
				<RemoveFile Id="$(var.GameName)Updater.exe" On="install" Name="$(var.GameName)Updater.exe" />
				<RemoveFile Id="$(var.GameName)BetaUpdater.exe" On="install" Name="$(var.GameName)BetaUpdater.exe" />
				<RemoveFile Id="$(var.GameName)InfoMirrors.txt" On="install" Name="$(var.GameName)InfoMirrors.txt" />
				<RemoveFile Id="$(var.GameName)DataMirrors.txt" On="install" Name="$(var.GameName)DataMirrors.txt" />
				<RemoveFile Id="$(var.GameName)PatchInfo.ini" On="install" Name="$(var.GameName)PatchInfo.ini" />
				<RemoveFile Id="$(var.GameName)InstallerInfo.ini" On="install" Name="$(var.GameName)InstallerInfo.ini" />
				<RemoveFile Id="$(var.GameName)Patch_rWILD" On="install" Name="$(var.GameName)Patch_r*" />
				<RemoveFile Id="$(var.GameName)Installer_rWILD" On="install" Name="$(var.GameName)Installer_r*" />
				<RemoveFile Id="Compile.log" On="install" Name="Compile.log" />
				<RemoveFile Id="Compile.bat" On="install" Name="Compile.bat" />
				<RemoveFile Id="ExportCache.bat" On="install" Name="ExportCache.bat" />
				<RemoveFile Id="ExportInt.bat" On="install" Name="ExportInt.bat" />
				<RemoveFile Id="GBuild.int" On="install" Name="GBuild.int" />
			</Component>
		</DirectoryRef>
	</Fragment>
	
	
</Wix>
